<div class="c-content-wrap">
  <div class="half-block">
    <div class="c-title">
      催收明细
      <button
        *ngIf="para.orderStatus != 4 && para.orderStatus != 6 && para.orderStatus != 9 && para.orderStatus != 10"
        style="margin-left:20px"
        nz-button
        nzType="primary"
        (click)="addextendFn()"
      >
        展期
      </button>
    </div>
    <div style="display: flex;">
      <div style="width:160px;height: 500px;border-bottom: 1px solid #e8e8e8;flex-shrink:0;">
        <nz-list [nzDataSource]="navLeft" nzBordered [nzRenderItem]="item">
          <ng-template #item let-item><nz-list-item [nzContent]="item.content" class="list-item" (click)="goAnchor(item.id)"></nz-list-item></ng-template>
        </nz-list>
      </div>
      <div class="area-section">
        <div id="qqq">
          <div class="c-title">借款订单详情</div>
          <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead><tr><th colspan="2">借款订单详情</th></tr></thead>
            <tbody>
              <tr><td style="width:50%">关联的信审订单编号</td><td>{{orderDetail.creditOrderNo}}</td></tr>
              <tr><td style="width:50%">借款订单编号</td><td>{{orderDetail.orderNo}}</td></tr>
              <!-- <tr><td style="width:50%">借款类型</td><td>{{  }}</td></tr> -->
              <tr><td style="width:50%">订单创建时间/提现时间</td><td>{{orderDetail.createTime}}</td></tr>
              <tr><td style="width:50%">借款日期</td><td>{{orderDetail.stringCreditOrderCreateTime}}</td></tr>
              <tr><td style="width:50%">借款金额</td><td>{{orderDetail.applyMoney}}</td></tr>
              <tr><td style="width:50%">借款期限</td><td>{{orderDetail.loanDays}}</td></tr>
              <tr><td style="width:50%">借款日利率</td><td>{{orderDetail.lendRate}}</td></tr>
              <tr><td style="width:50%">每笔审核服务费率</td><td>{{orderDetail.monthAuditCharge}}</td></tr>
              <tr><td style="width:50%">每笔技术服务费率</td><td>{{orderDetail.monthTechnologyCharge}}</td></tr>
              <tr><td style="width:50%">联邦税</td><td>{{orderDetail.vlrIOF}}</td></tr>
              <tr><td style="width:50%">应还金额（雷亚尔）</td><td>{{orderDetail.currentRealRepay}}</td></tr>
              <tr><td style="width:50%">逾期滞纳金</td><td>{{orderDetail.overDueRateMoney}}</td></tr>
              <tr><td style="width:50%">逾期每月延误费用</td><td>{{orderDetail.dueMonthDelayRate}}</td></tr>
              <tr><td style="width:50%">当前订单状态</td><td>{{orderDetail.status | OrderStatusPipe}}</td></tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead><tr><th colspan="2">取款账户</th></tr></thead>
            <tbody>
              <tr><td style="width:50%">银行</td><td>{{account.bankName}}</td></tr>
              <tr><td style="width:50%">机构号</td><td>{{account.institutionNumber}}</td></tr>
              <tr><td style="width:50%">账户类型</td><td>{{account.accountType}}</td></tr>
              <tr><td style="width:50%">账户号</td><td>{{account.accountNumber}}</td></tr>
              <tr><td style="width:50%">账户码</td><td>{{account.accountCode}}</td></tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="paymentDetail" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="8">放款详情</th></tr>
              <tr><th>流水号</th><th>创建时间</th><th>流转类型</th><th>金额(R$)</th><th>操作结果</th><th>操作时间</th><th>操作人</th><th>备注</th></tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of paymentDetail">
                <td>{{data.payCode}}</td>
                <td>{{data.createTime}}</td>
                <td>{{ data.paymentType == '1' ? '电子转账' : 'BBVA' }}</td>
                <td>{{data.payMoney}}</td>
                <td>{{data.paymentResult}}</td>
                <td>{{data.modifyTime}}</td>
                <td>{{data.operator}}</td>
                <td>{{data.option}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="repaymentDetail" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="9">还款详情</th></tr>
              <tr *ngIf="true"><th>借款期数</th><th>借款金额</th><th>实际应还总额</th><th>总融资金额</th><th>利息</th><th>罚息</th><th>实际还款金额</th><th>订单状态</th><!-- <th>Boleto管理</th> --></tr>
            </thead>
            <tbody *ngIf="true">
              <tr *ngFor="let data of repaymentDetail">
                <td>{{data.totalPeriod}}</td>
                <td>{{data.payMoney}}</td>
                <td>{{data.currentRepay}}</td>
                <td><!-- {{  }} --></td>
                <td>{{data.interestMoney}}</td>
                <td><!-- {{  }} --></td>
                <td>{{data.realRepayMoney}}</td>
                <td>{{data.status | OrderStatusPipe}}</td>
                <td><!-- {{  }} --></td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="repaymentDetail" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th>期数</th><th>流水号</th><th>创建时间</th><th>流转类型</th><th>金额</th><th>操作结果</th><th>操作时间</th><th>操作人</th><th>备注</th></tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of repaymentDetail">
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
                <td><!-- {{  }} --></td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
        </div>
        <div id="sss">
          <div class="c-title">
            信审详情
            <button
              style="margin-left:20px"
              nz-button
              nzType="primary"
              (click)="refresh()"
            >
            返回审核列表
            </button>
          </div>
          <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead><tr><th colspan="2">信审订单信息</th></tr></thead>
            <tbody>
              <tr><td style="width:50%">信审订单编号</td><td>{{creditDetail.creditOrderNo}}</td></tr>
              <tr><td style="width:50%">信审订单创建时间</td><td>{{creditDetail.creditCreateTime}}</td></tr>
              <tr><td style="width:50%">信审订单状态</td><td>{{creditDetail.creditCreateStatus | reviewOrder}}</td></tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="4">订单关联信息</th></tr>
              <tr><th>最近登录时间</th><th>创建订单时经纬度</th><th>IP地址</th><th>登录设备号</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>{{creditDetail.lastLoginTimeStr}}</td>
                <td>{{creditDetail.longitude}} , {{creditDetail.latitude}}</td>
                <td>{{creditDetail.ipAddress}}</td>
                <td>{{creditDetail.deviceId}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead><tr><th colspan="9">个人信息</th></tr></thead>
            <tbody>
              <tr>
                <td>姓名</td><td>性别</td><td>出生日期</td><td>年龄</td>
                <td>出生地</td><td>教育情况</td><td>婚姻状态</td><td>父亲姓名</td>
                <td>母亲姓名</td>
              </tr><tr>
                <td>{{userInfo.username}}</td>
                <td>{{userInfo.gender == 1 ? '男':'女'}}</td><td>{{userInfo.birthdayStr}}</td><td>{{userInfo.age}}</td><td>{{userInfo.birthplace}}</td>
                <td>{{userInfo.educationBackground}}</td><td>{{userInfo.maritalStatus}}</td><td>{{userInfo.fatherName}}</td><td>{{userInfo.motherName}}</td>
              <!-- </tr><tr>
                <td>BRXS20181106</td>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td> -->
              </tr><tr>
                <td>当前家庭成员人数</td><td>当前住宅电话</td><td>当前住宅地址</td><td>当前住宅邮编</td>
                <td>当前住宅类型</td><td>当前住宅证明</td><td>个人电子邮箱</td><td>个人手机号码</td>
                <td> </td>
              </tr><tr>
                <td><!-- 当前家庭成员人数 --></td>
                <td>{{userInfo.homeTelephone}}</td><td>{{userInfo.currentResidential}}</td><td>{{userInfo.residentialPostcode}}</td><td><!-- 当前住宅类型 --></td>
                <td><!-- 当前住宅证明 --></td><td>{{userInfo.email}}</td><td>{{userInfo.phoneNumber}}</td><td> </td>
              <!-- </tr><tr>
                <td>BRXS20181106</td>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td> -->
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead><tr><th colspan="3">用户实名信息</th></tr></thead>
            <tbody>
              <tr>
                <td style="width: 50%;">身份证正面</td><td colspan="2">身份证反面</td>
              </tr><tr>
                <td>{{userAuth.front}}</td>
                <td colspan="2">{{userAuth.reverse}}</td>
              </tr><tr>
                <td>最佳全景照片</td>
                <td>人脸识别相似度</td><td>{{userAuth.resultRef1Confidence}}</td>
              </tr><tr>
                <td rowspan="4">{{userAuth.imageBest}}</td><td>千分误识度</td><td>{{userAuth.resultRef11e3}}</td>
              </tr><tr>
                <td>万分误识度</td>
                <td>{{userAuth.resultRef11e4}}</td>
              </tr><tr>
                <td>十万分误识度</td>
                <td>{{userAuth.resultRef11e5}}</td>
              </tr><tr>
                <td>百万分误识度</td>
                <td>{{userAuth.resultRef11e6}}</td>
              </tr><tr>
                <td>收入证明</td>
                <td colspan="2">居住证明</td>
              </tr><tr>
                <td><img class="c-img-res img-info" [src]="userAuth.incomeProof" alt=""  data-magnify="gallery" [attr.data-src]="userAuth.incomeProof"></td>
                <td colspan="2"><!-- 居住证明 --></td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <!-- <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
            <thead><tr><th colspan="5">工作信息</th></tr></thead>
            <tbody>
              <tr>
                <td>收入来源</td><td>社会身份</td><td>月收入</td><td>发薪方式</td><td>发薪日期</td>
              </tr><tr>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td>
              </tr><tr>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td>
              </tr><tr>
                <td>公司名称</td><td>职位</td><td>公司地址</td><td>公司邮编</td><td>收入证明</td>
              </tr><tr>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td>
              </tr><tr>
                <td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td><td>BRXS20181106</td>
              </tr>
            </tbody>
          </nz-table> -->
          <br/>
          <nz-table [nzData]="creditOrderHistory" [nzShowPagination]="false" nzBordered
          [nzScroll]="{ x:'160%'}">
            <thead>
              <tr><th colspan="12">历史信审订单</th></tr>
              <tr>
                <th>信审订单号</th><th>申请借款日期</th><th>手机号</th><th>用户等级</th>
                <th>审批额度</th><th>审批期限</th><th>信审有效期</th><th>信审生效日期</th>
                <th>信审到期日期</th><th>信审管理员</th><th>信审意见</th><th>信审订单状态</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of creditOrderHistory">
                <td>{{data.creditOrderNo}}</td>
                <td>{{data.applyDate | dateFormat}}</td>
                <td>{{data.userPhone}}</td>
                <td>{{data.userGrade}}</td>
                <td><!-- 审批额度 --></td>
                <td><!-- 审批期限 --></td>
                <td>{{data.approveDays}}</td>
                <td>{{data.approveEffectDay | dateFormat}}</td>
                <td>{{data.approveExpDay | dateFormat}}</td>
                <td>{{data.adminName}}</td>
                <td>{{data.creditIdea}}</td>
                <td>{{data.status | OrderStatusPipe}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table #groupingTable
            [nzWidthConfig]="['100px','100px','100px','100px','100px','100px','100px','100px','100px','100px','100px','100px']"
            [nzData]="orderHistory" [nzShowPagination]="false" nzBordered
            [nzScroll]="{ x:'160%'}">
            <thead>
              <tr><th colspan="12">历史借款订单</th></tr>
              <tr>
                <th>信审订单号</th><th>借款订单号</th><th>借款类型</th><th>借款订单创建时间</th>
                <th>借款金额</th><th>借款期限</th><th>期数</th><th>实际应还金额</th>
                <th>应还日期</th><th>信审管理员</th><th>信审意见</th><th>借款订单状态</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of orderHistory">
                <td>{{data.creditOrderNo}}</td>
                <td>{{data.orderNo}}</td>
                <td>{{data.orderTypeDesc}}</td>
                <td>{{data.stringCreateTime}}</td>
                <td>{{data.auditMoney}}</td>
                <td>{{data.loanDays}}</td>
                <td>{{data.applyMonth}}</td>
                <td>{{data.currentRealRepay}}</td>
                <td><!-- 应还日期 --></td>
                <td>{{data.auditEmployeeName}}</td>
                <td><!-- 信审意见 --></td>
                <td>{{data.status | OrderStatusPipe}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <!-- <nz-table [nzData]="spcScore" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="4">征信查询信息</th></tr>
              <tr>
                <th>征信查询号码</th><th>征信登记地址</th><th>征信登记日期</th><th>征信更新时间</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of spcScore">
                <td>{{data.adminName}}</td>
                <td>{{data.adminName}}</td>
                <td>{{data.adminName}}</td>
                <td>{{data.adminName}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="loanDetail" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="7">征信贷款订单汇总</th></tr>
              <tr>
                <th>还款信息</th><th>产品</th><th>机构</th><th>借款金额</th><th>借款期数</th><th>当前还款</th><th>当前逾期金额</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of loanDetail">
                <td>{{data.adminName}}</td>
                <td>{{data.applyDateStr}}</td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
                <td>{{data.applyDateStr}}</td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
          <nz-table [nzData]="loanDetail" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="4">征信访问记录</th></tr>
              <tr>
                <th>访问日期</th><th>机构</th><th>城市</th><th>访问来源</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of loanDetail">
                <td>{{data.adminName}}</td>
                <td>{{data.applyDateStr}}</td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
              </tr>
            </tbody>
          </nz-table> -->
          <br/>
          <nz-table [nzData]="spcScore" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr><th colspan="3">征信评分</th></tr>
              <tr>
                <th>分数</th><th>等级</th><th>描述</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of spcScore">
                <td>{{data.score}}</td>
                <td>{{data.classe}}</td>
                <td>{{data.mesagemInterpretativaScore}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
        </div>
        <div id="aaa">
          <div class="c-title">紧急联系人</div>
          <nz-table [nzData]="contact" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>姓名</th><th>关系</th><th>联系方式</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of contact; let i = index">
                <td [innerHTML]="contact[i].contactName"></td>
                <td>{{data.relation}}</td>
                <td>{{data.contactPhone}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
        </div>
        <div id="eee">
          <div class="c-title">短信记录</div>
          <p>点击关键词进行短信内容标红！</p>
          <button nz-button nzType="primary" (click)="changeColor(1)">借款</button>
          <button nz-button nzType="primary" (click)="changeColor(2)" style="margin-left:15px;">还钱</button>
          <nz-table [nzData]="msgLogList" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>姓名</th><th>电话</th><th>短信收/发</th><th>创建时间</th><th>短信内容</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of msgLogList">
                <td>{{data.adminName}}</td>
                <td>{{data.applyDateStr}}</td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
                <td>{{data.applyDateStr}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
        </div>
        <div id="rrr">
          <div class="c-title">通话记录</div>
          <nz-table [nzData]="callLogList" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>姓名</th><th>电话</th><th>呼叫次数</th><th>最近一次呼叫时间</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of callLogList">
                <td>{{data.adminName}}</td>
                <td>{{data.applyDateStr}}</td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
        </div>
        <div id="ggg">
          <div class="c-title">联系人通讯录</div>
          <nz-table [nzData]="phoneList" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>姓名</th><th>电话</th><th>呼叫次数</th><th>最近一次呼叫时间</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of phoneList">
                <td>{{data.contactName}}</td>
                <td>{{data.contactPhone}}</td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
              </tr>
            </tbody>
          </nz-table>
          <br/>
        </div>
      </div>
      <div class="phone-tips" id="div-iframe">
        <h3>{{userInfo.phoneNumber}}</h3>
        <button nz-button nzType="primary" (click)="phoneFn(1)">拨号</button>
        <button nz-button nzType="primary" (click)="phoneFn(2)">发送短信</button>
        <button nz-button nzType="primary" (click)="copyClipboard(1)">复制手机号码</button>
        <button nz-button nzType="primary" (click)="copyClipboard(2)">复制还款链接</button>
      </div>
    </div>
    <div class="c-search-group c-search-border">
      <div class="c-search-itemRight">
        <ul class="sectionList c-flex-row-start" style="flex-wrap:wrap;height: auto;">
          <li (click) = 'changeStatus(1)' [ngClass]='{"active-tag" : (1 == chType)}'>
            催收日志
          </li>
          <li (click) = 'changeStatus(2)' [ngClass]='{"active-tag" : (2 == chType)}'>
            催收通话记录
          </li>
          <li (click) = 'changeStatus(3)' [ngClass]='{"active-tag" : (3 == chType)}'>
            催收短信记录
          </li>
          <li (click) = 'changeStatus(4)' [ngClass]='{"active-tag" : (4 == chType)}'>
            案件流转记录
          </li>
        </ul>
      </div>
    </div>
    <div class="c-search-group">
      <div class="c-search-item">
        <button nz-button nzType="primary" *ngIf="1 == chType" (click) = 'addModelFn() '>
          新增
        </button>
        <!-- <button nz-button nzType="primary"  (click) = 'getList() '>
          {{ "common.search" | translate}}
        </button>
        <button style="margin-left: 20px;" nz-button (click) = 'reset() '>
          {{ "common.reset" | translate}}
        </button>
        <button style="margin-left: 20px;" nz-button (click) = 'reset() '>
          {{ "common.ex" | translate}}
        </button> -->
      </div>
    </div>
  </div>
  <c-table [tableData]='tableData'>
  </c-table>
  <!-- <div class="c-pag">
    <nz-pagination [nzShowTotal]="totalTemplate" (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange)='pageChange($event , "size")'
      [nzPageIndex]="searchModel.currentPage" [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
    <ng-template #totalTemplate let-total>
      <span>
        {{ "common.total" | translate }}
      </span>
      <span>
        {{ totalSize }}
      </span>
      <span>
        {{ "common.pageUnit" | translate }}
      </span>
    </ng-template>
  </div> -->
  <button id="btn-msisdn" style="display: none;">打电话</button>
</div>

<nz-modal [(nzVisible)]="addModel" nzTitle="新增催收日志" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()" [nzOkLoading]="isOkLoading" [nzWidth]="500">
  <div class="formChannel">
    <form nz-form [formGroup]="logForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="logType">催收日志类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="logType">
            <nz-option nzValue="1" nzLabel="拨号无应答"></nz-option>
            <nz-option nzValue="2" nzLabel="延后还款"></nz-option>
            <nz-option nzValue="3" nzLabel="拒绝还款"></nz-option>
            <nz-option nzValue="4" nzLabel="空号"></nz-option>
            <nz-option nzValue="5" nzLabel="停机"></nz-option>
            <nz-option nzValue="6" nzLabel="展期"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="logForm.get('logType').dirty && logForm.get('logType').errors">请输入名称</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>备注</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <textarea formControlName="remark" nz-input rows="2"></textarea>
          <nz-form-explain *ngIf="logForm.get('remark').dirty&&logForm.get('remark').hasError('required')">请输入备注!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <label nz-checkbox formControlName="remind">
            <span>预约提醒</span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="logForm.value.remind">
        <nz-form-label [nzSpan]="6" [nzRequired]="logForm.get('remind')?.value">预约提醒</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker [nzStyle]="{width:'262px'}" nzShowTime formControlName="remindTime"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="logForm.value.remind">
        <nz-form-label [nzSpan]="6" [nzRequired]="logForm.get('remind')?.value">预约提醒内容</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <textarea formControlName="remindContent" nz-input rows="2"></textarea>
          <nz-form-explain *ngIf="logForm.get('remindContent').dirty&&logForm.get('remindContent').hasError('required')">请输入提醒内容!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="extendModel" nzTitle="展期" (nzOnOk)="extendOk()" (nzOnCancel)="extendCancel()" [nzOkLoading]="isOkLoading" [nzWidth]="500">
  <div class="formChannel">
    <form nz-form [formGroup]="extendForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">订单编号</nz-form-label>
        <nz-form-control [nzSpan]="14">
          {{para.orderNo}}
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>金额</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="money" id="money" placeholder="请输入金额">
          <nz-form-explain *ngIf="extendForm.get('money').dirty&&extendForm.get('money').hasError('required')">请输入金额!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div nz-col nzSpan="6"> </div>
        <nz-form-control [nzSpan]="14">
            <nz-table [nzData]="[{}]" [nzShowPagination]="false" nzBordered>
              <tbody>
                <tr><td style="width:50%">借款金额</td><td>{{extendInfo.payMoney}}</td></tr>
                <tr><td style="width:50%">融资金额</td><td>{{extendInfo.financingAmount}}</td></tr>
                <tr><td style="width:50%">利息</td><td>{{extendInfo.lendRateMoney}}</td></tr>
                <tr><td style="width:50%">逾期费用</td><td>{{extendInfo.overDueFine}}</td></tr>
                <tr><td style="width:50%">应还金额</td><td>{{extendInfo.currentRepay}}</td></tr>
                <tr><td style="width:50%">已还金额</td><td>{{extendInfo.realRepayMoney}}</td></tr>
                <tr><td style="width:50%">剩余应还金额</td><td>{{extendInfo.surplusRepay}}</td></tr>
                <tr><td style="width:50%">借款日期</td><td>{{extendInfo.payDateStr}}</td></tr>
                <tr><td style="width:50%">借款期限</td><td>{{extendInfo.loanDays}}</td></tr>
                <tr><td style="width:50%">应还日期</td><td>{{extendInfo.planRepaymentDateStr}}</td></tr>
                <tr><td style="width:50%">展期应还日期</td><td>{{extendInfo.exhibitionPeriodDateStr}}</td></tr>
              </tbody>
            </nz-table>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="phoneModel" [nzTitle]="phoneType == 1 ? '拨打电话' : '发送短信'" (nzOnOk)="phoneOk()" (nzOnCancel)="phoneCancel()" [nzOkLoading]="isOkLoading" [nzWidth]="500">
  <div class="formChannel">
    <ul class="sectionList c-flex-row-start c-search-border" style="flex-wrap:wrap;height: auto;margin-bottom: 15px;">
      <li (click) = 'changePhoneStatus(1)' [ngClass]='{"active-tag" : (1 == phoneMdlType)}'>
        紧急联系人
      </li>
      <li (click) = 'changePhoneStatus(2)' [ngClass]='{"active-tag" : (2 == phoneMdlType)}'>
        通讯录
      </li>
      <li (click) = 'changePhoneStatus(3)' [ngClass]='{"active-tag" : (3 == phoneMdlType)}'>
        通话记录
      </li>
    </ul>
    <form nz-form [formGroup]="phoneForm">
      <nz-form-item>
        <div nz-col nzSpan="4"> </div>
        <nz-form-control [nzSpan]="16">
          <!-- 紧急联系人 -->
          <nz-table *ngIf="phoneMdlType == 1" [nzData]="friendInfo" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event, 1)"></th><th>姓名</th><th>电话</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of friendInfo">
                <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="checkEmergent(data)"></td>
                <td>{{data.contactName}}</td>
                <td>{{data.contactPhone}}</td>
              </tr>
            </tbody>
          </nz-table>
          <!-- 通讯录 -->
          <nz-table *ngIf="phoneMdlType == 2" [nzData]="phoneList" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event, 2)"></th><th>姓名</th><th>电话</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of phoneList">
                <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="checkEmergent(data)"></td>
                <td>{{data.contactName}}</td>
                <td>{{data.contactPhone}}</td>
              </tr>
            </tbody>
          </nz-table>
          <!-- 通话记录 -->
          <nz-table *ngIf="phoneMdlType == 3" [nzData]="loanDetail" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event, 3)"></th><th>姓名</th><th>电话</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of loanDetail">
                <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="checkEmergent(data)"></td>
                <td>{{data.status}}</td>
                <td>{{data.adminId}}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngFor="let item of phoneArray;let i = index">
        <nz-form-label *ngIf="i==0" [nzSpan]="6" nzRequired>手动添加号码</nz-form-label>
        <nz-form-control [nzOffset]="i==0?0:6" [nzSpan]="14">
          <input nz-input id="phoneNumber" [(ngModel)]="item.phone" [ngModelOptions]="{standalone: true}" placeholder="请输入手机号">
        </nz-form-control>
        <div *ngIf="phoneType == 2" class="icon-content" nz-col [nzSpan]="4">
          <i *ngIf="i!=0" class="anticon anticon-minus-circle-o" (click)="deletephoneNum(item)"></i> 
          <i *ngIf="i==0" class="anticon anticon-plus-circle-o" (click)="addphoneNum()"></i>
        </div>
      </nz-form-item>
      
      <nz-form-item *ngIf="phoneType==2">
        <nz-form-label [nzSpan]="6" nzRequired>短信内容</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <textarea formControlName="msg" nz-input rows="2" placeholder="短信内容"></textarea>
          <nz-form-explain *ngIf="phoneForm.get('msg').dirty&&phoneForm.get('msg').hasError('required')">请输入短信内容!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>
